*{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#background{
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  padding: 50px;
  background-color: aquamarine;
}

#character{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 50;
  left: 50;
  /* transform: translate(-50%, -50%); */
}