*{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.background{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.character{
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}